.blog_footer {
    position: absolute;
    bottom: 0;
}

.blog_title h1 {
    transform: rotate(0deg) !important;
    font-family: "Space Mono", Arial, serif !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}